.addedFonderList{ display:flex; flex-wrap: wrap}
.addedFonderList li {
    background-color: #FAFAFA;
    font-size: 17px;
    font-weight: 500;
    padding: 4px 15px 6px;
    border-radius: 2px;
    margin-right: 15px;
}
.addedFonderList li img {
    width: 7px;
    margin-left: 5px;
}

.addFonderBtn .btn-primary {

    padding: 0 0 3px;

}


.investorStats{
    background-color: #FAFAFA;
    padding-top:90px;
    padding-bottom: 90px;
}

.heading4 h2{
    color: #777777;
    font-size: 24px;
    font-weight:700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:40px;

}
.progressCustom {
    display: flex;
}
.progressCustom .progressOuter {
    width: 50%;
    margin-bottom: 45px;
}

.progressCustom h4{
    font-size:22px;
    color: #777777;
    min-width:130px;
    margin-bottom:0;
}

.progressCustom .progressOuter .progress-bar {
    background: linear-gradient(to left, #3dff92 0%, #2EC36F 100%);
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    padding-right: 15px;
}

.progressCustom .progressOuter .progress{
    border-radius:0;
    height:28px ;
}

.highcharts-background {
    fill: transparent;
}

.addFounderForm{
    background-color:#FAFAFA;
    padding:30px;
    margin-bottom:30px;
    margin-top:30px;
}

/*13 June 2019 css end*/

/*companies listing css start*/
.compBlock .figBlock img {
    width: 75px;
    height: 75px;
    /* border-radius: 50%; */
}

.compBlock .figBlock {
    width: 75px;
    height: 75px;
    /* border: solid 1px #ccc; */
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
}

.compBlock{
    border:1px solid rgba(0,0,0,0.11);
    padding:15px;
    text-align: center;
    transition: all 0.5s ease;
    height: 195px;
    cursor: pointer;
    margin-bottom: 30px;
}
.compBlock:hover{
    height:210px;
    margin-top:-10px;
    border-color:#00FA96;


}
.compBlock h5{
    color:#000;
    font-size:14px;
    margin:10px 0;
}

.compBlock p {
    font-size: 12px;
    margin-bottom: 0;
    color:#0000008c;
}
.startUp{
    color:#000 !important;
}

.compnayListing {
    margin-top:30px;
}
.compnayListing .row {
    min-height: 205px;
}

/*companies listing css start*/
