@font-face {
font-family: 'sf_ui_textlight';
src: url('../fonts/sf-ui-text-light-webfont.woff2') format('woff2'),
url('../fonts/sf-ui-text-light-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'sf_ui_textregular';
src: url('../fonts/sf-ui-text-regular-webfont.woff2') format('woff2'),
url('../fonts/sf-ui-text-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'sf_ui_textmedium';
src: url('../fonts/sf-ui-text-medium-webfont.woff2') format('woff2'),
url('../fonts/sf-ui-text-medium-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'sf_ui_textbold';
src: url('../fonts/sf-ui-text-bold-webfont.woff2') format('woff2'),
url('../fonts/sf-ui-text-bold-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'sf_ui_textheavy';
src: url('../fonts/sf-ui-text-heavy-webfont.woff2') format('woff2'),
url('../fonts/sf-ui-text-heavy-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}


body{
	color:#000000; 
	font-family: 'sf_ui_textregular';
}
a, input, button{ outline:none !important; transition: all 0.5s ease;}
ul, ol{ margin:0; padding:0; list-style-type:none; }
.paddingL0{ padding-left:0 !important;  }
.paddingR0{ padding-right:0 !important;  }

header{
	box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
}
header .navbar-nav .nav-item .nav-link{
font-size:19px;
color:#000000; 
font-family: 'sf_ui_textregular';
position: relative;
}
 
header .navbar-nav .nav-item .nav-link.active, header .navbar-nav .nav-item .nav-link:hover{
	color:#00FA96; 
} 
header .navbar-nav .nav-item{ margin:0 15px; }


header .navbar-nav .dropdown .dropdown-toggle::after {
  
    position: absolute;
}


header .navbar {
    padding: 10px 0;
}

.loginSignup ul {
    display: flex;
    margin-bottom: 0;
}

.loginSignup ul li a {
	 
	color: #000000; 
	font-size: 18px;
	 
}

.loginSignup ul li{
	border-right:solid 2px #00FA96;
}

.loginSignup ul li a {
    color: #000000;
    font-size: 18px;
    padding: 0 15px;
}


.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: inherit !important;
}

.dropdown-toggle::after {
	content: '\f107' !important;
    font-family: FontAwesome;
    border: 0 !important;
    vertical-align: middle !important;
}

.custom-tabs {
    margin-bottom: 30px;
}

.ddGroup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.searchArea {
    margin-top: 50px;
    margin-bottom: 70px;
}
.seachbox {
    width: 465px;
    position: relative;
    margin: 0 auto;
}

.seachbox input::-webkit-input-placeholder { 
  color:#9d9d9d;
}
.seachbox input::-moz-placeholder { 
 color:#9d9d9d;
}
.seachbox input:-ms-input-placeholder { 
  color:#9d9d9d;
}


.seachbox input[type="text"] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #eae8e8;
    padding-left: 40px;
    height: 40px;
    font-size: 16px;

}

.seachbox button {
    position: absolute;
    top: 7px;
    background: transparent;
    border: 0;
}
.create {
    background: transparent;
    font-size: 15px;
    padding: 13px 12px;
    border: 2px solid #00FA96;
    border-radius: 5px;
    float: right;
    color: #000;
}
.create:hover, .customBtn .btn-primary:hover, .customBtn .btn-primary:focus, .customBtn .btn-primary:active{
	background-color:#00FA96 !important;
    border-color:#00FA96 !important;
    color:#000 !important;  
}
.customBtn .btn-primary{
    background: transparent;
    font-size: 15px;
    padding: 10px 30px;
    border: 2px solid #00FA96;
    border-radius: 5px;
    float: right;
    color: #000;

}
 

.seachbox button img{
   width: 20px;
}
.custom-tabs .nav li a{
	color: #484848;
	    border: none;
	border-bottom: 2px solid transparent !important;
	text-transform: uppercase;
    font-size: 17px;
        padding: 0;
    margin: 0 15px;
}
.custom-tabs .nav-tabs{border:none;}
.custom-tabs .nav li a.active{
	color: #000;
	border-bottom:2px solid #00FA96 !important;
}
.custom-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	  border: 0;
	  border-bottom:1px solid #00FA96;
}
.contenArea{
	background: #f6f6f6;
	padding:20px 0; 
}
.contenArea .tab-content{
	background: #fff;
    float: left;
    width: 100%;
    padding: 20px;
     box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
}


.contenArea .btn-group {
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.contenArea .btn-group .btn {
    color: #9B9B9B;
    font-size: 14px;
}

.listItem {
    width: 100%;
    float: left;
    margin-bottom: 50px;
}

#news .brandName {
    width: 150px;
    height: 150px;
    display: flex;
      float: left;
    align-items: center;
  box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
}

.result li{
	 display: inline-block;
	 padding:5px; 
}

.result li button {
    background: transparent;
    border: 1px solid #00FA96;
    border-radius: 10px;
    padding: 3px 15px;
    font-size: 13px;
    letter-spacing: 1px;
}

.brandName h2{
	    text-align: center;
	   font-size:26px;
	   width: 100%;
}

.itemDetals {
    width: calc(100% - 150px);
    float: left;
    padding-left: 40px;
}

.itemDetals h3{
    font-size: 17px;
}

.add li{
	display: inline-block;
	font-size: 14px;
	padding-right: 10px;
}
.add li span img{
	width: 10px;
	margin-right: 5px;
}

.detalsView p {
    font-size: 10px;
    color: #888;
    line-height: 18px;
    letter-spacing: .5px;
    padding-left: 15px;
}

.sidebar {
    height: 100%;
    background: #fff;
    box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
}

.sidebar header{
    background: #000;
    text-align: center;
      color: #fff;
    font-size: 17px;
    padding:12px; 
}

.sidebarList {
    float: left;
    width: 100%;
    background: #fff;
}
.SideItem {
    float: left;
    width: 100%;
    padding: 30px 15px 15px;
    border-bottom: 2px solid #f1f1f1;
}

.SideItem .price {
    color: #00FA96;
    font-size: 25px;
    float: left;
    width: 70px;
    line-height: normal;
}
.SideItem .price span{
    display: block;
    text-align: right;
	font-size: 18px;
}

.siteDetals {
    float: left;
    padding-left: 20px;
    width: calc(100% - 70px);
}
.sidebarList .SideItem:last-child{border-bottom:none;}

.siteDetals h3 {
    font-size: 20px;
    margin-bottom: 0;
        word-break: break-all;
}
.siteDetals span {
    font-size: 12px;
    color: #4a4a4a;
    letter-spacing: .5px;
}
.siteDetalsBtn .btn {
    font-size: 10px;
    border: 1px solid #ccc;
    float: right;
    padding: 3px 10px;
    min-width: 68px;
    border-radius: 0;
    text-align: center;
}


/*start profile page css*/
.tent{
    text-align: center;
      box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
           max-width: 213px;
    position: relative;
    margin: 0 auto;
        padding: 88px 35px;
}
.marg-t-5{
  margin-top: 5%;
}
.location
{
    padding-top: 46px;
}
.location h1{
    font-size: 25px;  
  line-height: 29px;
}
.location span
{
    display: -webkit-inline-box;
}

.location span h6
{
 font-size: 14px;
     line-height: 23px;
     margin-bottom: 0px;
         padding: 0px 11px;
}
.location p
{
    font-size: 14px;
    line-height: 20px;
    padding-right: 33%;
    padding-top: 8px;
}
.icons{
 text-align: left;
    
        width: 213px;
    position: relative;
   margin: 5px auto;
}
.icons a {
    border: 2px solid #00FA96;
    border-radius: 4px;
    padding: 10px;
    display: block;
    margin-right: 2px;
}

.icons a:hover{
    background-color:#00FA96; 
}

.total-disclosed-funding{
   background-color: #F7F7F7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    padding:40px 0px;
}

.disclosed-funding
{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    background: #ffff;
    box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);

}
.rating {
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
    float: left;
    padding: 40px 50px 10px 50px;
    width: 100%;
}

.rating h1
{
    font-size: 17px;
    line-height: 20px;
    float: left;
}
.rating h2
{
    font-size: 17px;
    line-height: 20px;
    float: right;

}
.series
{
   
       background-color: #fff;
    float: left;
    padding: 40px 50px 40px 50px;
    width: 100%;
}
.series h1
{
    font-size: 17px;
    line-height: 20px;
    float: left;
    margin-bottom: 0px;
    width: 100%;
}
.series h1 span {
    float: right;
    color: #0CC278; 
}
.series p
{
    font-size: 17px;
    line-height: 20px;
    float: left;
    margin-bottom: 0px;
    width: 100%;
}
.series p span {
    float: right;
    color: #434446;
    font-size: 14px;
    line-height: 20px;
}

.series p{
   opacity: 0.68;
   color: #000000;
   font-size: 14px;
   line-height: 20px;
}
.investors{
    padding: 40px 50px 40px 50px;
}
.investors h1{
font-size: 16px;  
   line-height: 20px;
}
.investors p{
    color: #0CC278;
  font-size: 14px; 
   line-height: 20px;
}


.similar-comnpanies {
    background-color: #F7F7F7;
    /* padding: 40px 0px; */
    padding-bottom: 40px;
}
.companies {
    margin-top: 30px !important;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    background: #ffff;
    box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
}
.comapanies-heading{
    background-color: #fff;
      border-bottom: 1px solid #eaeaea;
 
    float: left;
    padding: 30px 50px 10px 50px;
    width: 100%; 
}
.comapanies-heading h1
{
    font-size: 17px;
    line-height: 20px;
    float: left;
}
.about-company{
    float: left;
    width: 100%;
    background: #fff;padding: 30px 50px 50px 50px;
}
.company-name
{
    
   
    box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
   padding: 35%;
    margin: 34px 20px;
}
.company-description {
    float: left;
    margin-top: 20px;
    padding-left: 15px;
}

.company-description h6 {
    font-size: 16px;
}
.company-description span {
    font-size: 14px;
}
.about-company img {
    float: left;
    box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
    padding: 30px 20px 30px 20px;
}

.icons li{ display: inline-block; }
/*end profile page css*/

.custom-form-main .form-group .form-control{
 border:solid 1px #ccc;
 resize: none;
 box-shadow: none;
    font-family: 'sf_ui_textregular';
}
.custom-form-main .form-group label {
    font-size:12px;
    color: #666; 
   font-family: 'sf_ui_textmedium';
    }


.custom-form-main .form-group .form-control::-webkit-input-placeholder {  
  color: #9C9FBA;
}
.custom-form-main .form-group .form-control::-moz-placeholder {  
  color: #9C9FBA;
}
.custom-form-main .form-group .form-control:-ms-input-placeholder {  
  color: #9C9FBA;
}

.custom-form-main .form-group .form-control:focus{
        border:1px solid #00FA96;
}

.modal-title{
font-family: 'sf_ui_textbold' !important;
}
.modal-header {
    border: none !important;
    padding: 3rem 4rem 0 !important;
}

.modal-body {
    padding: 2rem 4rem !important;
}
.modal-footer {
 
    padding: 0 4rem 2rem !important;
    border-top: none !important;
 
}

 
.bootstrap-tagsinput .badge {
    background-color: #000 !important;
    border: 1px solid transparent ;
    margin: 5.5px !important;
}

.bootstrap-tagsinput {
    box-shadow: none !important;
    padding: 0 !important;
    min-height: 38px;
}

.formIcon i{
background-color:#000;
color:#fff;
}
.formIcon i {
    background-color: #000;
    color: #fff;
    padding: 10px 0 0;
    margin-top: -38px;
    float: left;
    height: 38px;
    border-radius: 4px 0 0 4px;
    width: 38px;
    text-align: center;
}

.custom-form-main .formGrpIcn .form-control{
 padding-left:50px !important;
}
.formIcon .fa-facebook{
    background-color:#3b5998 !important
} 
.formIcon .fa-instagram{
    background-color:#DA2F6E !important
} 
.formIcon .fa-twitter{
    background-color:#00acee !important
} 
.formIcon .fa-linkedin{
    background-color:#0077B5 !important
} 

.modal-header .close {
 
    color: #000 !important;
    opacity: 1 !important;
    font-size: 32px !important;
    position: absolute !important;
    right: 30px !important;
    top: 18px !important;
}
.modal-header .close:hover{
    color:#00FA96 !important 
}