@media (max-width:1024px){
.loginSignup {
    float: right;
    margin-top: 25px;
    margin-bottom: 22px;
   
}

}

@media (max-width: 768px){
		button.create {
		    margin-top: 20px;
		    float: none;
		}
	.seachbox {
         width: 100% !important;
    }
    .sidebar{ margin-top:35px;  }
}
@media (max-width: 767px){
.listItem .itemDetals {
  
    padding-left: 0;
    width: 100%;
}
#news .brandName{ margin-bottom:30px; }
.itemDetals .detalsView p{ padding-left: 0; }
.loginSignup {
 
    margin-top: 5px;
    
}
}

 