@font-face {
font-family: 'sf_ui_textlight';
src: url('../fonts/sf-ui-text-light-webfont.woff2') format('woff2'),
url('../fonts/sf-ui-text-light-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'sf_ui_textregular';
src: url('../fonts/sf-ui-text-regular-webfont.woff2') format('woff2'),
url('../fonts/sf-ui-text-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'sf_ui_textmedium';
src: url('../fonts/sf-ui-text-medium-webfont.woff2') format('woff2'),
url('../fonts/sf-ui-text-medium-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'sf_ui_textbold';
src: url('../fonts/sf-ui-text-bold-webfont.woff2') format('woff2'),
url('../fonts/sf-ui-text-bold-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'sf_ui_textheavy';
src: url('../fonts/sf-ui-text-heavy-webfont.woff2') format('woff2'),
url('../fonts/sf-ui-text-heavy-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

 