html body{
color:#000000;
font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6{
font-family: 'Montserrat', sans-serif;
font-weight:700;
}
a, input, button{ outline:none !important; transition: all 0.5s ease;}
body ul, body ol{ margin:0; padding:0; list-style-type:none; }
.paddingL0{ padding-left:0 !important;  }
.paddingR0{ padding-right:0 !important;  }
button, select.customSelectBx{
padding:0;
margin:0;
background-color: transparent;
border:none;
outline:none !important;
}
#clickindustry{
  color:black;
  text-decoration:none;
}
#clickindustry a:hover{
  color:red;
  text-decoration:none;
}
header{
box-shadow: 0 2px 15px 0 rgba(0,0,0,0.06);
}
header .navbar-nav .nav-item .nav-link {
font-size: 14px;
text-transform: uppercase;
color: #000000;
position: relative;
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 800;
padding:31px 8px;

}
header .navbar-nav .nav-item .nav-link:before{
background-color: transparent;
content: '';
width: 0;
height: 3px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: 0 auto;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
-webkit-transition: width 0.2s ease;
-moz-transition: width 0.2s ease;
-o-transition: width 0.2s ease;
transition: width 0.2s ease;
}
header .navbar-nav .nav-item .nav-link:hover:before, header .navbar-nav .nav-item .nav-link.active:before {
width:100%;
background-color: #00fa9a;
}
header .navbar-nav .nav-item {
margin: 0 6px;
}
header .navbar-nav .dropdown .dropdown-toggle::after {
position: absolute;
}
.btn.focus, .btn:focus {
outline: 0;
box-shadow: inherit !important;
}
header .navbar .navbar-collapse  {
margin-right: -5px;
}
.dropdown .dropdown-menu {
border: none;
box-shadow: 0 0 10px #e8e6e6;
}
.navbar .navbar-toggler{
border: none;
padding:0;
}
.topRightNav ul {
display: flex;
justify-content: flex-end;
align-items: center;
margin-top: -4px;
}
.dropdown-toggle::after {
content: '\f107' !important;
font-family: FontAwesome;
border: 0 !important;
vertical-align: middle !important;
}
.custom-tabs {
padding-top:45px;
margin-left: -16px;
}
.searchArea {
padding-top: 42px;
background-color: #000;
}
.seachbox {
width: 465px;
position: relative;
margin: 0 auto;
}
.searchArea .create{
position: relative;
top:43px;
}
.seachbox input::-webkit-input-placeholder {
color:#9d9d9d;
}
.seachbox input::-moz-placeholder {
color:#9d9d9d;
}
.seachbox input:-ms-input-placeholder {
color:#9d9d9d;
}
.seachbox {
width: 100%;
border: 0;
padding: 0 10px 0 25px;
height: 56px;
font-size: 16px;
max-width: 552px;
border-radius: 28px;
background-color: #fff;
display: flex;
align-items: center;
justify-content: space-around;
}
.seachbox button {
background: transparent;
border: 0;
line-height: normal;
margin: 0;
}
.seachbox input {
font-size: 18px;
color: #000;
width: 90%;
border: none;
padding-right: 15px;
}
.seachbox input:placeholder{
color: #828282;
}
.create {

      width: 168px;
      font-size: 16px;
      height: 45px;
      margin-top: 12px;
      background: #3FFA96;
      padding: 15px 31px 12px;
      padding: 0px 0px 0px 0px;
      border-radius: 7px;
      color: #000;
      letter-spacing: -1px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
}
.create.btn {
background: #3FFA96;
font-size: 18px;
padding: 19px 32px 20px;
border-radius: 7px;
font-family: 'Montserrat', sans-serif;
font-weight: 800;
color: #000;
letter-spacing: -1px;
text-transform: uppercase;
}
.customBtn .btn-primary:hover, .customBtn .btn-primary:focus, .customBtn .btn-primary:active{
background-color:transparent !important;
border-color:#00FA96 !important;
color:#000 !important;
}
.create:hover{
color:#fff !important;
background-color: #10DA6E !important;
}
.customBtn .btn-primary {
background: #00FA96;
font-size: 18px;
padding: 16px 15px;
border: 2px solid #00FA96;
border-radius: 5px;
color: #000;
min-width: 168px;
text-transform: uppercase;
}
.seachbox button img{
width: 20px;
}
.custom-tabs .nav li a {
color: #fff;
border: none;
border-bottom: 2px solid transparent !important;
text-transform: uppercase;
font-size: 14px;
padding: 0 0 12px;
margin: 0 15px;
font-weight: 800;
}
.custom-tabs .nav-tabs{border:none;}
.custom-tabs .nav li a.active, .custom-tabs .nav li a:hover{
border-bottom:3px solid #00FA96 !important;
background-color:transparent;
color:#fff
}
.contenArea {
padding-top: 30px;
padding-bottom: 65px;
}
.contenArea .btn-group {
display: block;
margin-bottom: 35px;
border-bottom: 1px solid #cccccc;
padding-bottom:20px;
padding-top: 10px;
}
.contenArea .btn-group .btn {
color: #828282;
font-size: 18px;
}
.listItem {
width: 100%;
float: left;
margin-bottom: 50px;
border-bottom: 1px solid #cccccc;
padding-bottom: 15px;
}
#news .brandName {
width:144px;
height:144px;
}
.brandName h2{
text-align: center;
font-size:26px;
width: 100%;
}
.itemDetals {
padding-left: 25px;
}
.itemDetals h3, .itemDetals h3 a {
font-size: 25px;
color: #212121;
font-weight: 700;
}
.itemDetals h3, .itemDetals h3 a:hover{
color:#00FA9A;
text-decoration:none;
}
.itemDetals li {
border: 2px solid #000000;
border-radius: 19px;
font-size: 14px;
color: #000;
display: inline-block;
padding:5px 12px;
margin-right: 8px;
margin-top: 15px;
margin-bottom: 15px;
}
.detalsView p {
color: rgba(0,0,0,0.55);
font-size: 16px;
line-height: 24px;
margin-top: 25px;
}
.read-more {
color: #0CC278;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}
.sidebar .sidebarHeading {
background: #000;
text-align: center;
color: #fff;
font-size: 16px;
font-weight: 700;
padding: 20px 15px;
margin-left: -20px;
margin-right: -20px;
}
.sidebar {
border-radius: 8px;
overflow: hidden;
border: solid 1px #cccccc;
padding: 0 20px;
margin-top: 20px;

}
.SideItem {
padding: 25px 0;
border-bottom: 1px solid #cccccc;
margin-bottom: 10px;
margin-left: -20px;
padding-left: 20px;
margin-right: -20px;
padding-right: 20px;
}
.SideItem .price {
color: #000000;
font-size:27px;
font-family: 'Montserrat', sans-serif;
line-height: 25px;
font-weight:700;
word-break: break-word;
}
.SideItem .price span{
color: #828282;
font-size: 16px;
font-weight: 400;
}
.sidebarList .SideItem:last-child{border-bottom:none;}
.siteDetals h3 {
font-size: 20px;
color: #000000;
margin-bottom: 0;
word-break: break-all;
margin-top: 8px;
}
.siteDetals h3 a,.siteDetals h3 a:hover{
color: #000000;
}
.locStartup {
color: rgba(0,0,0,0.55) !important;
font-size: 14px;
margin-top: 13px;
}
.siteDetals span {
font-size: 12px;
color: #4a4a4a;
letter-spacing: .5px;
}
.siteDetalsBtn .btn {
font-size: 14px;
min-width: 57px;
border-radius: 4px;
background-color: #D8D8D8;
color: #828282 !important;
padding: 1px 0;
}
/*start profile page css*/
.tent{
text-align: center;
box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
max-width: 213px;
position: relative;
margin: 0 auto;
padding: 88px 35px;
}
.marg-t-5{
margin-top: 5%;
}
.location
{
padding-top: 46px;
}
.location h1{
font-size: 25px;
line-height: 29px;
}
.location span
{
display: -webkit-inline-box;
}
.location span h6
{
font-size: 14px;
line-height: 23px;
margin-bottom: 0px;
padding: 0px 11px;
}
.location p
{
font-size: 14px;
line-height: 20px;
padding-right: 33%;
padding-top: 8px;
}
.icons{
text-align: left;
width: 213px;
position: relative;
margin: 5px auto;
}
.icons a {
border: 2px solid #00FA96;
border-radius: 4px;
padding: 10px;
display: block;
margin-right: 2px;
}
.icons a:hover{
background-color:#00FA96;
}
.total-disclosed-funding{
background-color: #F7F7F7;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
padding:40px 0px;
}
.disclosed-funding
{
width: 800px;
max-width: 100%;
margin: 0 auto;
background: #ffff;
box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
}
.rating {
border-bottom: 1px solid #eaeaea;
background-color: #fff;
float: left;
padding: 40px 50px 10px 50px;
width: 100%;
}
.rating h1
{
font-size: 17px;
line-height: 20px;
float: left;
}
.rating h2
{
font-size: 17px;
line-height: 20px;
float: right;
}
.series
{
background-color: #fff;
float: left;
padding: 40px 50px 40px 50px;
width: 100%;
}
.series h1
{
font-size: 17px;
line-height: 20px;
float: left;
margin-bottom: 0px;
width: 100%;
}
.series h1 span {
float: right;
color: #0CC278;
}
.series p
{
font-size: 17px;
line-height: 20px;
float: left;
margin-bottom: 0px;
width: 100%;
}
.series p span {
float: right;
color: #434446;
font-size: 14px;
line-height: 20px;
}
.series p{
opacity: 0.68;
color: #000000;
font-size: 14px;
line-height: 20px;
}
.investors{
padding: 40px 50px 40px 50px;
}
.investors h1{
font-size: 16px;
line-height: 20px;
}
.investors p{
color: #0CC278;
font-size: 14px;
line-height: 20px;
}
.similar-comnpanies {
background-color: #F7F7F7;
padding-bottom: 40px;
}
.companies {
margin-top: 30px !important;
width: 800px;
max-width: 100%;
margin: 0 auto;
background: #ffff;
box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
}
.comapanies-heading{
background-color: #fff;
border-bottom: 1px solid #eaeaea;
float: left;
padding: 30px 50px 10px 50px;
width: 100%;
}
.comapanies-heading h1
{
font-size: 17px;
line-height: 20px;
float: left;
}
.about-company{
float: left;
width: 100%;
background: #fff;padding: 30px 50px 50px 50px;
}
.company-name
{
box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
padding: 35%;
margin: 34px 20px;
}
.company-description {
float: left;
margin-top: 20px;
padding-left: 15px;
}
.company-description h6 {
font-size: 16px;
}
.company-description span {
font-size: 14px;
}
.about-company img {
float: left;
box-shadow: -3px 2px 2px 0 rgba(119,151,178,0.16);
padding: 30px 20px 30px 20px;
}
.icons li{ display: inline-block; }
/*end profile page css*/
.custom-form-main .form-group .form-control {
resize: none;
box-shadow: none;
height: 43px;
border: 1px solid rgba(0,0,0,0.22);
background-color: #FAFAFA;
border-radius: 4px;
font-size: 14px;
}
.custom-form-main .form-group textarea.form-control{
height: 117px;
}
.custom-form-main .form-group label {
font-size: 12px;
color: #000000;
text-transform: uppercase;
}
.custom-form-main .form-group label.error {
color: #d92704;
position: absolute;
}
.custom-form-main .form-group .form-control::-webkit-input-placeholder {
color: #BFBFBF;
}
.custom-form-main .form-group .form-control::-moz-placeholder {
color: #BFBFBF;
}
.custom-form-main .form-group .form-control:-ms-input-placeholder {
color: #BFBFBF;
}
.custom-form-main .form-group .form-control:focus{
border:1px solid #00FA96;
}
.modal-header {
border: none !important;
position: relative;
z-index: 9;
}
.bootstrap-tagsinput .badge {
background-color: #000 !important;
border: 1px solid transparent ;
margin: 5.5px !important;
}
.bootstrap-tagsinput {
box-shadow: none !important;
padding: 0 !important;
min-height: 38px;
}
.formIcon i{
background-color:#000;
color:#fff;
}
.formIcon i {
background-color: #000;
color: #fff;
padding: 10px 0 0;
margin-top: -43px;
float: left;
height: 43px;
border-radius: 4px 0 0 4px;
width:43px;
text-align: center;
}
.formIcon i:before{
font-size:22px;
}
.custom-form-main .formGrpIcn .form-control{
padding-left:50px !important;
}
.formIcon .fa-facebook{
background-color:#3b5998 !important
}
.formIcon .fa-instagram{
background: linear-gradient(205.65deg, #D645D4 0%, #F52E8D 51.02%, #FBCC32 100%) !important;
}
.formIcon .fa-twitter{
background-color:#00acee !important
}
.formIcon .fa-linkedin{
background-color:#0077B5 !important
}
.modal-header .close {
color: #000 !important;
opacity: 1 !important;
font-size: 32px !important;
position: absolute !important;
right: 30px !important;
top: 18px !important;
}
.modal-header .close:hover{
color:#00FA96 !important
}
.filter-btn {
background-color: transparent;
border: none;
font-size: 18px;
display: flex;
align-items: center;
}
#topSearch {
position: absolute;
right: 40px;
top: -11px;
}
#topSearch input {
width: 648px;
border: none;
box-shadow: 0 0 6px 0 rgba(0,0,0,0.16);
height: 50px;
border-radius: 4px;
padding: 8px 15px;
color: #000;
border: solid 1px #f1f1f1;
}
.foundComp {
color: #000000;
font-size: 18px;
margin-bottom: 20px;
}
.siteDetalsBtn {
float: right;
}
.resLoc span{
font-size: 16px;
color: rgba(0,0,0,0.55);
padding-left:5px;
}
.listView .listItem:last-child {
border-bottom: none;
margin-bottom: 15px;
}
.customPagination {
clear: both;
width: 100%;
margin-bottom: 40px;
float: left;
margin-top: 40px;
}
.customPagination .page-link {
color: #000;
background-color: #f0f0f0;
border: solid 1px transparent;
font-size: 12px;
border-radius: 2.67px;
/*padding: 7px 16px;*/
margin: 0 4px;
height: 30px;
margin-bottom: 10px;
}
.customPagination .page-item.active .page-link{
border-color:#000;
background-color: #000000;
}
.customPagination .page-item .page-link:hover{
background-color: transparent;
border-color:#000;
color:#000;
}
.customPagination .page-item .page-link.dots {
background-color: transparent;
padding: 5px 3px;
}
.customPagination .page-item .page-link.dots .dot {
height: 4px;
width: 4px;
background-color: #C8E4E7;
border-radius: 50%;
display: inline-block;
}
.listView .listItem .brandName img {
border: 1px solid rgba(0,0,0,0.11);
border-radius: 50%;
object-fit: cover;
width: 144px;
height: 144px;
}
.fliterCount {
height: 18px;
width: 18px;
border-radius: 50%;
background-color: #3FFA96;
font-size: 11px;
font-weight: 600;
color: #000000;
display: inline-block;
margin-left: 12px;
display: none;
}
.searchTag a {
font-size: 14px;
border-radius: 8px;
background-color: #ECECEC;
color: #000000 !important;
padding: 8px 15px;
margin-right: 15px;
text-decoration: none !important;
display: inline-block;
margin-bottom: 15px;
}
.searchTag a.clearAll{
background-color: transparent;
color: #000000;
font-size: 14px;
font-weight:700;
text-transform: uppercase;
}
.searchTag {
margin-top: 30px;
margin-bottom: 15px;
}
.profileCard .profilePic img {
width: 72px;
height: 72px;
border-radius: 50%;
object-fit: cover;
border: solid 1px #f1f1f1;
}
.profileCard {
display: flex;
align-items: center;
padding: 40px 0;
border-bottom: 1px solid rgba(0,0,0,0.11);
}
.profileCard .profileInfo .name {
color: #000000;
font-size: 20px;
font-weight: 700;
display: block;
margin-bottom: 5px;
font-family: 'Montserrat', sans-serif;
}
.profileCard .profileInfo .name:hover{
color:#3FFA96;
text-decoration:none;
}
.profileCard .profileInfo .compName{
color: rgba(0,0,0,0.55);
font-size: 16px;
}
.investerList .profileCard:last-child{ border-bottom:none; }
select.customSelectBx {
color: #828282;
font-size: 18px;
background-image: url(../img/gray_dropdown.png);
background-repeat: no-repeat;
background-position: 100% center;
appearance: none;
-webkit-appearance: none;
padding-right: 20px;
width: 82%;
z-index:1;
}
.formMain {
margin-top: 60px;
margin-bottom: 60px;
}
.formMain .container{
max-width:816px;
}
.form-header h4{
color: #000000;
font-size: 24px;
font-weight:700;
}
.form-header p {
color: #828282;
font-size: 18px;
}
.uploadSection {
display: flex;
align-items: center;
background-color: #FAFAFA;
padding: 30px;
margin-bottom: 30px;
margin-top: 30px;
}
.uploadSection .inputFiles {
width: 157px;
height: 157px;
border: 1px solid rgba(0,0,0,0.11);
border-radius: 50%;
overflow: hidden;
background-image: url(../img/company_profile_img.png);
background-repeat: no-repeat;
background-position: center;
margin-right: 20px;
}
.uploadSection .inputFiles img {
width: 157px;
height: 157px;
border-radius: 50%;
cursor: pointer;
object-fit: cover;
}
.uploadSection .inputFilesActions p{
color: #000000;
font-size: 20px;
}
.uploadImg input{
text-indent:999px;
font-size:0;
display: block;
position: absolute;
top:0;
bottom:0;
left:0;
right:0;
width:100%;
cursor:pointer;
}
.uploadImg span{
color: #0CC278;
font-size: 16px;
font-weight: 600;
}
.uploadImg {
position: relative;
}
.btn.btn-remove{
color: #D80808;
font-size: 16px;
font-weight: 600;
padding:0;
}
#remove-logo{
color: #D80808;
cursor: pointer;
}
#remove-logo:hover{
color: #000;
}
.btn.btn-cancel {
color: #AAAAAA;
border-radius: 8px;
background-color: #EBEBEB;
font-size: 18px;
min-width: 168px;
padding: 17px 15px;
text-transform: uppercase;
}
.customBtn {
margin-top: 80px;
}
.detailsPageHeader {
background-image: url(../img/headerBg.png);
background-repeat: no-repeat;
background-position: center;
background-color: #000;
height: 350px;
background-size: cover;
}
.detailsPageHeader .navbar-nav .nav-link, .detailsPageHeader .navbar-nav .nav-item span{
font-size: 14px;
color: #FFFFFF;
}
.detailsPageHeader .navbar-nav .nav-item span {
padding-top: 7px;
display: block;
margin: 0px 3px;
}
.detailsPageHeader .navbar-nav .active .nav-link{
color:#3FFA96;
}
.detailsPageHeader .seachbox {
margin-top:37px;
margin-bottom: 105px;
float: right;
}
.social-media ul {
display: flex;
justify-content: flex-end;
}
.social-media ul li {
margin-left: 20px;
}
.mainInfo {
display: flex;
}
.companyInfo h1{
color: #FFFFFF;
font-size: 30px;
font-weight:700;
overflow: hidden;
text-overflow: ellipsis;
}
.social-media {
padding-top: 85px;
}
.companyInfo .compnayLocation span {
color: #FFFFFF;
font-size: 18px;
text-overflow: ellipsis;
overflow: hidden;
display: block;
}
.companyInfo .compnayWebsite span {
color: #FFFFFF;
font-size: 16px;
}
.companyInfo {
padding-left: 25px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.companyLogo img{
width:196px;
height:196px;
border-radius:50%;
object-fit: cover;
}
.compmayBtngrp {
text-align: center;
margin-bottom: 90px;
}
.companyDes ul li {
border: 2px solid #000000;
border-radius: 19px;
font-size: 14px;
color: #000;
display: inline-block;
padding: 3px 12px 5px;
margin-right: 8px;
margin-top: 15px;
margin-bottom: 15px;
}
.belowSection {
margin-top: 20px;
}
.companyDes ul {
padding-left: 216px;
}
.companyDes p {
color: rgba(0,0,0,0.6);
font-size: 18px;
letter-spacing: -0.1px;
line-height: 32px;
margin-bottom: 60px;
margin-top: 50px;
}
.heading {
color: #000000;
font-size: 24px;
margin-bottom: 0;
line-height: normal;
padding: 0;
}
.heading2 {
color: #000000;
font-size: 24px;
margin-bottom: 30px;
line-height: normal;
padding: 0;
margin-top: 45px;
}
.disclsdFundBlk .blkHeader {
border-radius: 8px 8px 0 0;
background-color: #F1F1F1;
padding: 24px 48px;
}
.disclsdFundBlk {
border: solid 1px #F1F1F1;
border-radius: 8px 8px 0 0;
}
.fundingAmt {
color: #000000;
font-size: 32px;
text-align: right;
}
.fundingAmt span{
color: #828282;
font-size: 16px;
}
.headerBelow h4 {
color: #000000;
font-size: 24px;
margin-bottom: 5px;
}
.headerBelow .clearfix {
border-bottom: 1px solid rgba(0,0,0,0.11);
padding-bottom: 30px;
margin-bottom: 30px;
}
.disclsdFundBlk .innerblk{
margin: 30px 48px;
}
.disclsdFundBlk .innerblk .profileCard .profilePic img{
width:48px;
height: 48px;
}
.disclsdFundBlk .innerblk .profileCard .profileInfo .name{
font-size: 18px;
}
.headerBelow .date{
color: #828282;
font-size: 18px;
}
.headerBelow .fundAmt{
color: #0CC278;
font-size: 24px;
}
.headerBelow .newSource {
color: #828282;
font-size: 18px;
}
.investorFounderBlk{ display: flex; flex-wrap: wrap; }
.investorFounderBlk .profileCard {
border: none;
padding: 0;
margin-right: 25px;
margin-bottom: 25px;
}
.submitReq {
color: #000;
font-size: 20px;
text-align: center;
margin-top: 48px;
margin-bottom: 45px;
}
.submitReq a{
font-family: 'Montserrat', sans-serif;
color: #0CC278;
font-weight:700;
}
.submitReq a:hover{
color:#000;
text-decoration:none;
}
.heading3 {
position: relative;
margin-bottom: 72px;
margin-top: 50px;
}
.heading3 .text {
color: #000000;
font-size: 24px;
font-weight: 600;
letter-spacing: -0.5px;
text-transform: uppercase;
position: relative;
z-index: 9;
background-color: #fff;
padding-right: 40px;
display: inline-block;
margin-bottom: 0;
}
.heading3 span.line {
height: 4px;
width: 100%;
background-color: #f0f0f0;
position: absolute;
right: 0;
left: 0;
bottom: 13px;
}
.similarCompnies .profileCard .profilePic img {
width: 72px;
height: 72px;
object-fit: cover;
border: 1px solid rgba(0,0,0,0.11);
}
.similarCompnies .profileCard{
border-bottom:none;
padding:0 0 45px;
}
.newsBlk .newsHeading {
  color: #FFFFFF;
    font-size: 18px;
    padding: 0px 14px 22px;
    margin-top: -100px;
    line-height: 28px;
    width: 350px;
    height: 100px;
    position: relative;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
}
.newsBlk .figBlock img {
width: 100%;
border-radius: 8px 8px 0 0;
overflow: hidden;
height: 240px;
object-fit: cover;
}
.greenIcon {
height: 24px;
width: 24px;
background-color: rgba(63,250,150,0.2);
display: flex;
border-radius: 50%;
text-align: center;
justify-content: center;
align-items: center;
margin-right: 10px;
}
.greenIcon span{
width: 10px;
background-color: #3FFA96;
height: 10px;
display: inline-block;
border-radius:50%;
}
.newsBlk .time {
display: flex;
color: #aaaaaa;
font-size: 12px;
padding-top: 20px;
text-transform: uppercase;
align-items: center;
}
.newsBlk .newsText {
color: #777777;
font-size: 15px;
line-height: 28px;
margin-top: 10px;
}
.newsBlk {
margin-bottom: 30px;
}
.moreNews {
text-align: center;
margin-bottom: 100px;
margin-top: 40px;
}
.moreNews a{
color: #0CC278;
font-size: 18px;
text-decoration:underline;
}
.moreNews a:hover{
color: #000;
text-decoration:none;
}
.customPagination .pagination {
flex-wrap: wrap;
justify-content: center;
}
.compmayBtngrp button i, .searchArea button.create i {
font-style: normal;
font-size: 28px;
position: relative;
top: 3px;
line-height: normal;
}
.compnayLocation {
display: flex;
}
.companyLogo {
width: 196px;
height: 196px;
border-radius: 50%;
overflow: hidden;
}
.undisclosed {
color: #AAAAAA;
font-size: 24px;
}
.firstLetter {
background-color:#e5e5e5;
height: 196px;
width: 196px;
display: flex;
justify-content: center;
align-items: center;
font-size: 100px;
border-radius: 50%;
color:#000000 !important;
text-decoration:none !important;
}
#companies .firstLetter {
background-color:#c3c4ca;;
/* 144px */
height:75px;
width:75px;
display: flex;
justify-content: center;
align-items: center;
font-size: 69px;
border-radius: 50%;
}
.investorFounderBlk .profilePic .firstLetter {
height: 48px;
width: 48px;
font-size:28px;
}

#investors_container .firstLetter, #founders_container .firstLetter, .similarCompnies .firstLetter{
width: 72px;
height: 72px;
font-size:36px;
}
select.customSelectBx option{
border-bottom:solid 1px #ccc;
}
/*loader css start*/
.roller {
border:8px solid #f3f3f3;
border-radius: 50%;
border-top:8px solid #3FFA96;
width:50px;
height:50px;
-webkit-animation: spin 0.7s linear infinite; /* Safari */
animation: spin 0.7s linear infinite;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
margin: auto;
}
.loader-layer{
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-color: rgba(255,255,255,.7);
z-index: 999999;
display:none;
}
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
/*loader css end*/
.sidebarList .SideItem a {
display: block;
text-decoration: none;
}
.bottomFooter {
background-color: #0d0d0d;
padding: 3.5px 0;
margin-top:20px;
}
.bottomFooter .copyright,
.bottomFooter .aboutUs {
color: #ccc;
font-size: 12px;
margin-bottom: 0;
font-family: 'Montserrat', sans-serif;
}
.bottomFooter .aboutUs:hover, .footerul li a:hover{
color: #00fa9a;
}
footer{
background-color: #222;
padding-top: 54px;
}
.footerHeading {
position: relative;
margin-bottom: 14px;
}
.footerHeading h4 {
display: inline-block;
color: #fff;
font-size: 20px;
font-family: 'Roboto', sans-serif;
font-weight: 700;
position: relative;
z-index: 5;
background-color: #212121;
padding-right: 20px;
}
.footerHeading .line {
background-color: #363636;
display: block;
height: 4px;
position: absolute;
width: 100%;
bottom: 17px;
z-index: 1;
}
.footerTop p{
font-size: 14px;
line-height: 21px;
color:#fff;
font-family: 'Open Sans', sans-serif;
}
.footerul li a{
color: #fff;
font-size:14px;
font-family: 'Open Sans', sans-serif;
}
.footerul li {
list-style: disc;
list-style-position: inside;
color: #fff;
font-size: 13px;
line-height: 30px;
}
.footerLeft {
padding-right: 20px;
padding-top: 40px;
}
.footerTop {
padding-bottom: 80px;
}
.noResFound h4 {
color: #000000;
font-size: 28px;
font-weight: 600;
margin-top: 25px;
margin-bottom: 20px;
}
.noResFound p{
color: #000000;
font-size: 20px;
line-height: 30px;
}
.noResFound p a{
font-weight:700;
color:#3FFA96 !important;
cursor: pointer;
}

header .navbar .dropdown .dropdown-menu li a{
	background-color: transparent !important;
	padding: 7px 30px;
    font-size: 12px;
    line-height: 20px;
    color: #111;
}
header .navbar .dropdown .dropdown-menu li a:hover{
	color: #00fa9a;
}

header .navbar .dropdown .dropdown-menu {
    border-radius: 0;
        box-shadow: 1px 1px 4px rgba(0,0,0,.15);
        margin-top:0px;
}
header .navbar .dropdown .dropdown-menu .dropdown .dropdown-menu {
    position: absolute;
    left: 160px;
    top: -10px;
}

/*header .navbar .dropdown .dropdown-menu{
	display:block;
}*/
header .navbar .dropdown:hover>.dropdown-menu{
	 display:block;
}


/*media css start*/
@media (max-width:1024px){
.loginSignup {
float: right;
margin-top: 25px;
margin-bottom: 22px;
}
.navbar-collapse.justify-content-center {
justify-content: flex-end !important;
}
header .navbar .navbar-nav .nav-item:last-child{margin-right:0; }
.custom-tabs {
padding-top: 50px;
}
}
@media (max-width:992px){
.seachbox {
width: 100% !important;
}
.sidebar{ margin-top:35px;  }
.custom-tabs .nav li a {
margin: 0 8px;
padding-bottom: 4px;
font-size: 14px;
}
.compmayBtngrp .create {
top: 0;
margin-bottom: 25px;
margin-top: 25px;
font-size: 15px;
padding: 15px 25px 20px;
margin: 0 0 15px !important;
}
header .navbar-nav .nav-item .nav-link:before{
display:none;
}
header .navbar-nav .nav-item .nav-link{
padding: 15px 8px;
}
.compmayBtngrp {
margin-top: 0;
text-align: center;
}
.belowSection {
margin-top: 0;
}
}
@media (max-width: 767px){
.detailsPageHeader{
height: auto;
}
.footerLeft {
padding-bottom: 20px;
}
.undisclosed{
float:left
}
.companyLogo {
width: 50px;
height: 50px;
box-shadow: none;
}
.social-media ul {
justify-content: flex-start;
}
.social-media ul li {
margin-left: 0;
margin-right: 15px;
}
.compmayBtngrp button i, .searchArea button.create i {
font-size: 22px;
}
.social-media {
padding-top: 30px;
padding-bottom: 30px;
}
.companyDes ul {
padding-left: 0;
}
.companyDes p{ padding-top: 0;     margin-top: 10px; }
header .navbar .navbar-collapse {
position: absolute;
top: 100%;
z-index: 999;
background-color: #fff;
right: 40px;
left: 0;
}
.navbar .navbar-brand img{
max-width:184px !important;
}
.listItem .itemDetals {
padding-left: 0;
width: 100%;
}
#news .brandName{ margin-bottom:30px; }
.itemDetals .detalsView p{ padding-left: 0; }
.loginSignup {
margin-top: 5px;
}
.custom-tabs .nav-tabs {
justify-content: center;
}
.listView .listItem .d-flex{ flex-direction:column; }
.contenArea .btn-group .btn {
padding: 10px 0;
}
.custom-tabs {
padding-top: 0px;
}
.sidebar {
margin-top: 0;
}
#topSearch input {
width: 100%;
height: 40px;
}
#topSearch {
position: absolute;
top: -7px;
width: 210px;
right: 24px;
}
.listItem{text-align: center;}
.topRightNav {
position: absolute;
top: -50px;
right: 60px;
}
.topRightNav .mr-5{ margin-right:10px !important; }
.btn-group .tree-multiselect .selections .section {
position: relative;
right: 15px;
width: auto;
float: left;
}
.tree-multiselect .selected {
clear: both;
}
.filter-btn{ margin-bottom:10px; }
.uploadSection {
align-items: center;
padding:15px;
flex-direction: column;
}
.uploadSection .inputFiles{ margin:0;    width: 80px;
height: 80px;  }
.uploadSection .inputFilesActions p {
text-align: center;
margin-top: 15px;
}
.uploadImg {
padding-top: 3px;
}
.btn.btn-cancel, .btn.btn-primary {
min-width: 0;
padding: 8px 15px;
font-size: 15px;
}
.customBtn {
margin-top: 30px;
}
.companyLogo img {
width: 50px;
height: 50px;
}
.companyInfo h3{
font-size: 22px;
}
.companyInfo .compnayLocation span{ font-size:14px; }
.companyInfo .compnayWebsite span{ font-size:12px;  }
.disclsdFundBlk .blkHeader{ padding:15px; }
.fundingAmt, .headerBelow .fundAmt, .newSource {
text-align: left;
}
.disclsdFundBlk .innerblk {
margin: 30px 15px;
}
.create.last{ margin-top:0;  }
.moreNews {
margin-bottom: 30px;
margin-top: 15px;
}
.searchArea .create {
top: 0;
margin-top: 30px;
margin-bottom: 30px;
}
.firstLetter {
height: 50px;
width: 50px;
font-size: 30px;
}
#companies .firstLetter {
margin: 0 auto 15px;
}
}
@media (max-width:320px){
.navbar-expand .navbar-nav {
justify-content: center;
flex-wrap: wrap;
}
}

.addfounderlink{
  color:black;
  font-size:12px
}


/*media css end*/
